@{
    Layout = null;
}
@using everything.Models
@model ResetPasswordViewModel


<link rel="stylesheet" type="text/css" href="~/csss/bootstrap/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="~/csss/libs/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="~/csss/libs/nanoscroller.css" />
<!-- global styles -->
<link rel="stylesheet" type="text/css" href="~/csss/compiled/theme_styles.css" />


    <div id="login-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div id="login-box">
                        <div id="login-box-holder">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div id="login-box-inner">
                                        <section class="panel">
                                            <strong>
                                                Reset password confirmation
                                            </strong>
                                            <div class="panel-body">
                                                <p>
                                                    Your password has been reset.)
                                                </p>
                                            </div>
                                            @Html.ActionLink("proceed", "Login", "Access", new { Area = "Rap" }, new { })
                                        </section>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>




        <script src="~/jss/jquery.js"></script>
        <script src="~/jss/bootstrap.js"></script>
        <script src="~/jss/jquery.nanoscroller.min.js"></script>

        <script src="~/jss/demo.js"></script> <!-- only for demo -->
        <!-- this page specific scripts -->
        <!-- theme scripts -->
        <script src="~/jss/scripts.js"></script>

        <!-- this page specific inline scripts -->

    </div>
}


<script src="~/jss/demo-skin-changer.js"></script> <!-- only for demo -->

<script src="~/jss/jquery.js"></script>
<script src="~/jss/bootstrap.js"></script>
<script src="~/jss/jquery.nanoscroller.min.js"></script>

<!-- theme scripts -->
<script src="~/jss/scripts.js"></script>

