@model everything.Models.AddProfilePictureViewModel
@{
    ViewBag.Title = "Update profile picture";
}

<style>
        .panel {
           margin: auto;
            padding: 10px;
            width: 600px;  
}
.panel .dl-horizontal dt {
    white-space: normal;
}
</style>
<section id="inner-banner">

    <div class="container">

        <h1>@ViewBag.Title</h1>

    </div>

</section>
<div class="clearfix">
</div>
<div class="clearfix">
</div>
<div class="clearfix">
</div>
    <div class="panel panel-info">
    <span class="text-success">@ViewBag.StatusMessage</span>
    <div class="panel-heading">Update profile picture</div>
    <div class="panel-body">
    @using (Html.BeginForm("ChangeProfilePicture", "Profile", null, FormMethod.Post, new { enctype = "multipart/form-data", id = "pForm", name = "pForm" }))
    {
     @Html.AntiForgeryToken()
        <b><strong>Choose picture</strong></b>
        <div class="checkbox form-group col-md-12 col-sm-12">
            <input type="file" class="form-group" name="file" id="fileChooser"  accept="image/*" />
             <small>
              <i class="text-danger">
                Image file must not exceed 2.5MB<br>
               You can upload multiple image files
               </i>
              </small><br>
        </div>

        <div class="col-md-12 col-sm-12">

            <input type="submit" value="Upload image" name="operation" id="process" class="btn btn-default"/>

        </div>
            <div id="divProcessing">
                <p>Processing, please wait . . . <img src="~/images/ajax-loader.gif"></p>
            </div>
    }
    </div>
</div>









@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $("#divProcessing").hide();

        });

        $("#pForm").submit(function (event) {

            var isValid = $('#pForm').valid();
            if (isValid) {
                tinyMCE.triggerSave();
                $("#divProcessing").show();
                $('#process').hide();
            }
        });
    </script>
}
