@{ 
    ViewBag.Title = "Search";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-8">
            <div class="text-box">


                <em>Sorry, we did not find any result that matched your search <strong>"@ViewBag.SearchQuery"</strong>. Try searching for a business name, a keyword or report#</em>
                <div class="clearfix">
                </div>
                <h4>Search Tips</h4>
                <ul>
                    <li>Check your spelling for typing errors, e.g "Goerge" instead of "George".</li>
                    <li>Try Searching with short and simple keywords.</li>
                    <li>Try a different keyword or a more common term.</li>
                    <li>Try searching more general terms.</li>
                </ul>

            </div>

        </div>


    </div>
   

</div>
