@{
    ViewBag.Title = "Unauthorized";
}


<div class="row">
    <div class="col-lg-12">

        <div id="error-box">
            <div class="row">
                <div class="col-xs-12" style="min-height: 900px;">
                    <div id="error-box-inner">
                        <img src="~/img/error-404-v2.png" alt="Have you seen this page?" />
                    </div>
                    <h1>ERROR 201</h1>
                    <p>
                        Unauthorized page.<br />
                        You do not have enough access to view this page.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>