@{
    ViewBag.Title = "Legal Disclaimer";
}


<section id="inner-banner">

    <div class="container">

        <h1>@ViewBag.Title</h1>

    </div>

</section>

<section class="post-section blog-post privacy-policy">

    <div class="container">

        <div class="post-box">

            <div class="text-box">

                <p>
                    Information (including agreements, forms and documents) available on our site, <a href="https://ripoff.com.ng" class="text-info font-bold">https://ripoff.com.ng</a>, are provided without any warranty, express or implied, including as to their legal effect and completeness. The information should be used as a guide and modified to meet your own individual needs. Your use of any information or forms is at your own risk. Rip-off NG &trade; and any of its employees, contractors, or officers who participated in providing the information expressly disclaim any warranty: they are not creating or entering into any Attorney-Client relationship by providing information to you.
                </p>

            </div>

        </div>

    </div>

    <!--CALL TO ACTION SECTION START-->

    @*<section class="call-action-section">

        <div class="container">

            <div class="text-box">

                <h2>Better Results with Standardized Hiring Process</h2>

                <p>
                    Your quality of hire increases when you treat everyone fairly and equally. Having multiple recruiters

                    working on your hiring is beneficial.
                </p>

            </div>

            <a href="#" class="btn-get">Get Registered &amp; Try Now</a>
        </div>

    </section>*@

    <!--CALL TO ACTION SECTION END-->

</section>