@{
    ViewBag.Title = "Consumer Protection In Nigeria";
}

<style>
    .example1 {
        vertical-align: super;
    }
</style>
<section id="inner-banner">

    <div class="container">

        <h1>@ViewBag.Title</h1>

    </div>

</section>

<section class="post-section blog-post privacy-policy">

    <div class="container">

        <div class="post-box">

            <div class="text-box">
                <h4>Consumer Protection In Nigeria</h4>
                <p></p>
                <p>Rip-Off NG&trade; is committed to bringing awareness to Nigerians at all levels as every consumer reserves the right to the consumption of quality products, hence ought not be subjected to the self-serving whims and caprices of dubious production companies, manufacturers and their agents. We have chosen not to rest on our oars until consumer exploitation is brought to its knees in Nigeria.</p>
                <p>A consumer has legally been defined as an individual (natural and artificial) who purchases and uses products or services (Section 32, Consumer Protection Council Act). Although this definition appears to be in contradistinction to manufacturers who produce the goods or services and wholesalers or retailers who distribute and sell same, they also could be defined as a consumer in their own right, depending on the facts and circumstances.</p>
                <p>A consumer has the legal right to enforce any implied or express warranties or conditions as pertaining to the item purchased against the manufacturer who introduced such into the market or the seller who has made them an item of sale.</p>
                <p>A consumer is also considered to be any natural person or legal entity to whom a product or service on the market is offered. It is however noteworthy that the facts and circumstances under which a person (natural or artificial) can be regarded as a consumer are not limited to the above definitions and illustrations.</p>
                <p>The <i>“Customer is Always Right”</i> is a motto or slogan which exhorts service providers to give high priority to consumers’ satisfaction. However, in all fairness - <strong><i>the customer (consumer) isn't always right</i></strong>. When a consumer purchases good or service, he expects that its delivery comes without any default. This is where the issues arise on most occasions. </p>
                <p>Quite a number of business organizations are only ready to receive consumers' money, without taking caution in ensuring that the goods produced and supplied as well as services rendered are of quality standard, hence commensurate to the amount paid for such.</p>
                <p>As a resultant effect, Consumer Protection Laws have been enacted to protect consumers from consumption of substandard products and on the long run, awaken consumers to their rights and privileges under the consumers’ protection regime.</p>
                <p>Consumer protection Laws are group of laws designed to ensure and protect the rights of consumers and ensure the goods and services available for consumption meet their expectations and ensure by that consumers have access to accurate information about products and services for sale and to also ensure that a consumer gets good service for money paid.</p>
                <p>Consumer Protection Council Act is a law enacted to enforce quality standards designed at safeguarding the interest of consumers, provide redress to consumers’ complaints, seek ways of eliminating hazardous products and causing offenders to replace such with safer alternatives, among many other functions.</p>
                <p>In addition, Consumer Protection Laws are created to regulate less competitive companies from producing sub-standard goods, thereby ensuring that every consumer irrespective of their social and financial status have access to quality goods and effective services.</p>
                <p>When a consumer feels aggrieved, such a consumer reserves the right to seek redress (compensation, reliefs etc.) either through the regulatory bodies (Consumer Protection Council, Standard Organization of Nigeria) and/or institute a legal action in a competent court of law. The body charged with the protection and regulation of consumers’ rights and laws in Nigeria is the Consumer Protection Council (C.P.C). This is in line with the United Nations Guidelines for Consumer Protection of 1985.</p>
                <p>It is however saddening and bewildering that despite the remedial structures put up by the Nigerian Government to ensure consumers' protection, Nigerian consumers are still grossly exploited, both at home and abroad. To say the least, tenants subjected to unfriendly tenancy conditions, epileptic and costly power supply, defective return policies on products ordered on electronic platforms, defects in warnings and designs, defective medical designs, etc.</p>
                <p>It is for these reasons among many others, that we at Rip-Off NG&trade; have evolved to be a solution-based community focused on solving peculiar problems for consumers, irrespective of their social and financial status.</p>
                <p>We offer legal advises through our competent legal team (and other legal services on express instructions subject to our terms and condition) aimed at bridging the gap between the manufacturers and consumers, as well as playing the role of an intermediary between these classes/stratum of market players.</p>
                <p>At Rip-Off NG&trade;, we cannot be of help if such exploitation are not reported. Hence, we urge consumers to report such cases of reckless and ignoble exploitations on our website by registering and filling the complaint form.</p>
            </div>

        </div>

    </div>

    <!--CALL TO ACTION SECTION START-->
    @*<section class="call-action-section">

            <div class="container">

                <div class="text-box">

                    <h2>Better Results with Standardized Hiring Process</h2>

                    <p>
                        Your quality of hire increases when you treat everyone fairly and equally. Having multiple recruiters

                        working on your hiring is beneficial.
                    </p>

                </div>

                <a href="#" class="btn-get">Get Registered &amp; Try Now</a>
            </div>

        </section>*@

    <!--CALL TO ACTION SECTION END-->

</section>