
        .thumb-lg {
            display: inline-block;
            width: 96px;
        }

            .thumb img,
            .thumb-xs img,
            .thumb-sm img,
            .thumb-md img,
            .thumb-lg img,
            .thumb-btn img {
                height: auto;
                max-width: 100%;
                vertical-align: middle;
            }

        .avatar {
            position: relative;
            display: block;
            white-space: nowrap;
            border-radius: 500px;
        }

            .avatar img {
                width: 96px;
                height: 96px;
                border-radius: 500px;
            }

            .avatar i {
                position: absolute;
                top: 0;
                left: 0;
                width: 10px;
                height: 10px;
                margin: 2px;
                border-style: solid;
                border-width: 2px;
                border-radius: 100%;
            }

                .avatar i.right {
                    right: 0;
                    left: auto;
                }

                .avatar i.bottom {
                    top: auto;
                    right: 0;
                    bottom: 0;
                    left: auto;
                }

                .avatar i.left {
                    top: auto;
                    bottom: 0;
                }

                .avatar i.on {
                    background-color: #27c24c;
                }

                .avatar i.off {
                    background-color: #98a6ad;
                }

                .avatar i.busy {
                    background-color: #f05050;
                }

                .avatar i.away {
                    background-color: #fad733;
                }

            .avatar.thumb-md i {
                width: 12px;
                height: 12px;
                margin: 3px;
            }

            .avatar.thumb-sm i {
                margin: 1px;
            }

            .avatar.thumb-xs i {
                margin: 0;
            }

        .panel {
            margin: auto;
            padding: 10px;
            width: 600px;
        }

            .panel .dl-horizontal dt {
                white-space: normal;
            }