@{
    ViewBag.Title = "Check your email";
}

<section id="inner-banner">

    <div class="container">

        <h1>@ViewBag.Title</h1>

    </div>

</section>
<section class="signup-section">

    <div class="container">

        <div class="holder">

            <div class="form-group ">
                <div class="col-md-12">
                    <h2>Confirmation email sent.</h2>
                </div>
            </div>
            <div class="form-group ">
                <div class="col-md-12">
                    <p>
                        <span>Please check your email and confirm your email address.</span>
                    </p>
                    <h4>Didn't get the email?</h4>
                    <p>
                         <span> Check your spam folder to make sure it didn't end up there.</span>
                   </p>
                </div>
            </div>

        </div>

    </div>

</section>